.container-fluid {
  padding: 0 !important;
}

.about {
  transform: translateX(100%);
  background-color: #131618;
  width: 100%;
  height: 100vh;
  z-index: 4;
  transition: ease-in-out 0.8s;
}

.about-title_wrapper {
  position: relative;
  left: 0;
  transform: translateX(-200%);
  z-index: 2;
  transition: ease-in-out 0.8s;
  color: #064566;
}

.about-active .about {
  transform: translateX(0);
}

.about-active .about-title_wrapper {
  transform: translateX(102px);
}

.burger-button {
  position: relative;
  left: 20px;
  padding: 8px 0;
  background-color: #131618;
  border: none;
}

.burger-button:hover .burger-line {
  margin: 16px 0;
}

.burger-line {
  width: 60px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  margin: 8px 0px;
  transition: ease-in-out 0.4s;
}

.button {
  border: 0 !important;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
}

.button-secondary {
  padding: 15px;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  z-index: 99;
}

.button-secondary:hover {
  color: #fff;
}

.button-secondary_img {
  width: 36px;
  height: 36px;
  transition: ease-in-out 0.4s;
}

.button-secondary_text {
  position: relative;
  padding-left: 38px;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  overflow: hidden;
}

.button-toggle_section {
  position: absolute;
  left: 60.5vw;
  bottom: 60px;
  z-index: 99;
}

.button-toggle_section--opened .button-toggle_section_img {
  transform: rotate(180deg);
}

.button-footer_social_img {
  transform: rotate(180deg);
}

.button-toggle_underline {
  position: absolute;
  width: calc(100% - 38px);
  height: 2px;
  background-color: #fff;
  left: -100%;
  bottom: 0;
}

.button-bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  background-color: #fff;
  border: none;
  overflow: hidden;
  border: 1px solid #fff !important;
}

.button-main:not(:disabled) {
  position: relative;
  width: 15.5vw;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131618;
  border: none !important;
  border: 1px solid #fff !important;
  overflow: hidden;
  transition: color ease-in-out 0.8s;
}

.button:hover .button-main_text {
  color: #131618;
}

.button-main_text {
  position: relative;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  z-index: 3;
  transition: ease-in-out 0.4s;
}

.button-home:not(:disabled) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15.5vw;
}

.contacts {
  transform: translateX(100%);
  background-color: #131618;
  width: 100%;
  height: 100vh;
  z-index: 4;
  transition: ease-in-out 0.8s;
}

.contacts-title_wrapper {
  position: relative;
  left: 0;
  transform: translateX(-200%);
  z-index: 2;
  transition: ease-in-out 0.8s;
  color: #064566;
}

.contacts-active .contacts {
  transform: translateX(0);
}

.contacts-active .contacts-title_wrapper {
  transform: translateX(102px);
}

.input {
  border: 0;
  padding: 15px;
  background-color: #131618;
  border: 1px solid #fff;
  color: #fff;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input:focus, .input:active {
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
}

.gallery {
  position: absolute;
  height: 100%;
}

.gallery-imgs {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.gallery-active .gallery-bg.leftEdge.center {
  left: 0;
  right: 100px;
}

.gallery-active .gallery-bg.left {
  left: 0;
  right: calc(100% - 100px);
  transform: translateX(-100%);
  border-right: 1px solid #fff;
}

.gallery-active .gallery-bg.left:hover {
  right: calc(100% - 120px);
}

.gallery-active .gallery-bg.center {
  left: 100px;
  right: 100px;
  transform: translateX(0);
}

.gallery-active .gallery-bg.right {
  right: 0;
  left: calc(100% - 100px);
  transform: translateX(100%);
  border-left: 1px solid #fff;
}

.gallery-active .gallery-bg.right::before {
  transform: rotate(180deg);
}

.gallery-active .gallery-bg.right:hover {
  left: calc(100% - 120px);
}

.gallery-active .gallery-bg.centerIndex {
  z-index: 5;
}

.gallery-active .gallery-bg.rightIndex, .gallery-active .gallery-bg.leftIndex {
  transform: translateX(0);
  z-index: 10;
}

.gallery-active .gallery-bg.rightEdge.center {
  left: 100px;
  right: 0;
}

.gallery-active .gallery-bg.right::before, .gallery-active .gallery-bg.left::before {
  content: '';
  transition: ease-in-out 0.4s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.gallery-active .gallery-bg.right:hover::before, .gallery-active .gallery-bg.left:hover::before {
  background: url(../img/arrow.svg) center center no-repeat;
  background-size: 60px 60px;
  background-color: rgba(19, 22, 24, 0.7);
}

.gallery-active .gallery-bg:hover {
  cursor: pointer;
}

.gallery-author_link {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  transform: translateX(-100%);
  transition: ease-in-out 0.8s;
  font-size: 10px;
  color: #fff;
  text-decoration: none;
}

.gallery-author_link:hover {
  color: #fff;
  text-decoration: underline;
}

.gallery-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-right: 1px solid transparent;
  overflow: hidden;
  transition: ease-in-out 0.4s;
}

.gallery-bg:not(:first-child) {
  left: calc(100% - 100px);
  transform: translateX(100%);
}

.gallery-bg_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-title_wrapper {
  position: relative;
  left: 0;
  transform: translateX(-100%);
  z-index: 20;
  transition: ease-in-out 0.8s;
  color: #b7c8d1;
}

.gallery-active .gallery-title_wrapper {
  transform: translateX(100px);
}

.gallery-active .gallery-author_link {
  transform: translateX(0);
  z-index: 50;
}

.contacts {
  transform: translateX(100%);
  background-color: #131618;
  width: 100%;
  height: 100vh;
  z-index: 4;
  transition: ease-in-out 0.8s;
}

.contacts-title_wrapper {
  position: relative;
  left: 0;
  transform: translateX(-200%);
  z-index: 2;
  transition: ease-in-out 0.8s;
  color: #064566;
}

.contacts-active .contacts {
  transform: translateX(0);
}

.contacts-active .contacts-title_wrapper {
  transform: translateX(102px);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100px;
  border-right: 1px solid #fff;
  background-color: #131618;
  transition: ease-in-out 0.8s;
  overflow: hidden;
  z-index: 100;
}

.header:hover {
  cursor: pointer;
}

.header-menu {
  height: 100%;
  position: absolute;
  left: calc(100px + 5vw);
  top: 0;
}

.header-menu_title_wrapper {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  width: 66vw;
  transition: ease-in-out 0.8s;
}

.home {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  width: 60.5vw;
  height: 100%;
  overflow: hidden;
  background-color: rgba(19, 22, 24, 0.9);
  border-right: 1px solid #fff;
  transition: ease-in-out 0.8s;
  z-index: 30;
}

.home-active .home {
  transform: translateX(0);
}

.home-active .home-title_part_1 {
  left: -61px;
}

.home-active .home-title_part_2 {
  left: 72px;
}

.home-active .home-title_part_3 {
  right: -41px;
}

.home-active .button-home:not(:disabled) {
  right: 20px;
}

.home-active .gallery-author_link {
  opacity: 0;
}

.home-title {
  position: relative;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12vw;
  font-weight: 300;
  color: #fff;
}

.home-title_part {
  position: absolute;
  top: 50%;
  width: fit-content;
  transition: ease-in-out 0.8s;
}

.home-title_part_1 {
  left: -400px;
  transform: translateY(-150%);
}

.home-title_part_2 {
  left: 20%;
  transform: translateY(-50%);
}

.home-title_part_3 {
  right: 40%;
  transform: translateY(50%);
}

.main {
  top: 0;
  left: 100px;
  bottom: 0;
  height: 100vh;
  width: calc(100% - 100px);
  overflow: hidden;
}

.main-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.section-title {
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 7.5vw;
  font-weight: 300;
}

.menu {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  transition: ease-in-out 0.4s;
}

.menu-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menu-item {
  width: 100%;
  position: relative;
  padding: 8px 0px;
  font-size: 4.1vw;
  font-weight: 200;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: ease-in-out 0.2s;
}

.menu-item > p {
  width: fit-content;
  position: relative;
  background-color: #131618;
  padding: 0px 20px;
  z-index: 1;
}

.menu-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: 0.1s;
}

.menu-item:hover::after {
  opacity: 1;
  transition: ease-in-out 0.4s;
}

.menu-active .header {
  max-width: unset;
  transition: ease-in-out 0.8s;
  width: calc(60.5vw + 100px);
}

.menu-active .header-menu_title_wrapper {
  transform: translateX(0);
  right: 102px;
  z-index: 2;
}

.menu_title-wrapper {
  color: #064566;
}

.footer {
  position: relative;
  top: 0;
  left: 100px;
  bottom: 0;
  display: flex;
  width: calc(100% - 100px);
  padding: 72px 0;
  border-top: 1px solid #fff;
  overflow: hidden;
}

.footer-form {
  display: flex;
  gap: 20px;
  width: 60.5vw;
  padding: 0 20px;
}

.footer-subscribe {
  height: 67px;
  width: 24vw;
}

.social-img {
  width: 47px;
  height: 47px;
  margin-left: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #131618;
}

p {
  margin: 0 !important;
}

.mobile-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #131618;
  z-index: 999;
}

.mobile-cover_text {
  padding: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */