.container-fluid {
  padding: 0 !important;
}

.about {
  transform: translateX(100%);
  background-color: #131618;
  width: 100%;
  height: 100vh;
  z-index: 4;
  transition: ease-in-out 0.8s;
}

.about-title_wrapper {
  position: relative;
  left: 0;
  transform: translateX(-200%);
  z-index: 2;
  transition: ease-in-out 0.8s;
  color: #064566;
}

.about-active .about {
  transform: translateX(0);
}

.about-active .about-title_wrapper {
  transform: translateX(102px);
}

.burger-button {
  position: relative;
  left: 20px;
  padding: 8px 0;
  background-color: #131618;
  border: none;
}

.burger-button:hover .burger-line {
  margin: 16px 0;
}

.burger-line {
  width: 60px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  margin: 8px 0px;
  transition: ease-in-out 0.4s;
}

.button {
  border: 0 !important;
  background-color: transparent;
}

.button-toggle_section {
  position: absolute;
  left: 60.5vw;
  bottom: 60px;
  padding: 15px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  z-index: 99;
}

.button-toggle_section--opened .button-toggle_section_img {
  transform: rotate(180deg);
}

.button-toggle_section_img {
  width: 36px;
  height: 36px;
  transition: ease-in-out 0.4s;
}

.button-toggle_section_text {
  position: relative;
  padding-left: 38px;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  overflow: hidden;
}

.button-toggle_underline {
  position: absolute;
  width: calc(100% - 38px);
  height: 2px;
  background-color: #fff;
  left: -100%;
  bottom: 0;
}

.button-bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  background-color: #fff;
  border: none;
  overflow: hidden;
  border: 1px solid #fff !important;
}

.button-main:not(:disabled) {
  width: 15.5vw;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131618;
  border: none !important;
  border: 1px solid #fff !important;
  overflow: hidden;
  transition: color ease-in-out 0.8s;
}

.button:hover .button-main_text {
  color: #131618;
}

.button-main_text {
  position: relative;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  z-index: 3;
  transition: ease-in-out 0.4s;
}

.button-home:not(:disabled) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15.5vw;
}

.gallery {
  position: absolute;
  height: 100%;
}

.gallery-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.gallery-bg_image {
  width: 100%;
}

.gallery-title_wrapper {
  position: relative;
  left: 0;
  transform: translateX(-100%);
  z-index: 2;
  transition: ease-in-out 0.8s;
  color: #b7c8d1;
}

.gallery-active .gallery-title_wrapper {
  transform: translateX(102px);
}

.contacts {
  transform: translateX(100%);
  background-color: #131618;
  width: 100%;
  height: 100vh;
  z-index: 4;
  transition: ease-in-out 0.8s;
}

.contacts-title_wrapper {
  position: relative;
  left: 0;
  transform: translateX(-200%);
  z-index: 2;
  transition: ease-in-out 0.8s;
  color: #064566;
}

.contacts-active .contacts {
  transform: translateX(0);
}

.contacts-active .contacts-title_wrapper {
  transform: translateX(102px);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100px;
  border-right: 2px solid #fff;
  background-color: #131618;
  transition: ease-in-out 0.8s;
  overflow: hidden;
  z-index: 100;
}

.header:hover {
  cursor: pointer;
}

.header-menu {
  height: 100%;
  position: absolute;
  left: calc(100px + 5vw);
  top: 0;
}

.header-menu_title_wrapper {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  width: 66vw;
  transition: ease-in-out 0.8s;
}

.home {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  width: 60.5vw;
  height: 100%;
  overflow: hidden;
  background-color: rgba(19, 22, 24, 0.9);
  border-right: 2px solid #fff;
  transition: ease-in-out 0.8s;
  z-index: 3;
}

.home-active .home {
  transform: translateX(0);
}

.home-active .home-title_part_1 {
  left: -61px;
}

.home-active .home-title_part_2 {
  left: 72px;
}

.home-active .home-title_part_3 {
  right: -41px;
}

.home-active .button-home:not(:disabled) {
  right: 20px;
}

.home-title {
  position: relative;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12vw;
  font-weight: 300;
  color: #fff;
}

.home-title_part {
  position: absolute;
  top: 50%;
  width: fit-content;
  transition: ease-in-out 0.8s;
}

.home-title_part_1 {
  left: -400px;
  transform: translateY(-150%);
}

.home-title_part_2 {
  left: 20%;
  transform: translateY(-50%);
}

.home-title_part_3 {
  right: 40%;
  transform: translateY(50%);
}

.main {
  top: 0;
  left: 100px;
  bottom: 0;
  height: 100vh;
  width: calc(100% - 100px);
  overflow: hidden;
}

.main-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.section-title {
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 7.5vw;
  font-weight: 300;
}

.menu {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  transition: ease-in-out 0.4s;
}

.menu-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menu-item {
  width: 100%;
  position: relative;
  padding: 8px 0px;
  font-size: 4.1vw;
  font-weight: 200;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: ease-in-out 0.2s;
}

.menu-item > p {
  width: fit-content;
  position: relative;
  background-color: #131618;
  padding: 0px 20px;
  z-index: 1;
}

.menu-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: 0.1s;
}

.menu-item:hover::after {
  opacity: 1;
  transition: ease-in-out 0.4s;
}

.menu-active .header {
  max-width: unset;
  transition: ease-in-out 0.8s;
  width: calc(60.5vw + 100px);
}

.menu-active .header-menu_title_wrapper {
  transform: translateX(0);
  right: 102px;
  z-index: 2;
}

.menu_title-wrapper {
  color: #064566;
}

.footer {
  position: relative;
  top: 0;
  left: 100px;
  bottom: 0;
  width: calc(100% - 100px);
  padding: 72px 20px;
  overflow: hidden;
}

.footer-form {
  display: flex;
  gap: 20px;
}

.footer-subscribe {
  height: 67px;
  width: 24vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #131618;
}

p {
  margin: 0 !important;
}

.mobile-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #131618;
  z-index: 999;
}

.mobile-cover_text {
  padding: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */