@import 'styles/variables';
@import 'styles/bootstrap-override';
@import 'styles/buttons';
@import 'styles/contacts';
@import 'styles/form';
@import 'styles/gallery';
@import 'styles/contacts';
@import 'styles/header';
@import 'styles/home';
@import 'styles/main';
@import 'styles/menu';
@import 'styles/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: $black;
}

p {
  margin: 0 !important;
}

.mobile {
  &-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
    z-index: 999;
  }

  &-cover_text {
    padding: 30px;
    font-family: $font-josefin;
    font-size: 32px;
    color: $white;
  }
}
