.burger {
  &-button {
    position: relative;
    left: 20px;
    padding: 8px 0;
    background-color: $black;
    border: none;

    &:hover {
      .burger-line {
        margin: 16px 0;
      }
    }
  }
  &-line {
    width: 60px;
    height: 3px;
    background-color: $white;
    border-radius: 2px;
    margin: 8px 0px;
    transition: $transition-menu;
  }
}

.button {
  border: 0 !important;
  background-color: transparent;

  &-toggle_section {
    position: absolute;
    left: 60.5vw;
    bottom: 60px;
    padding: 15px;
    font-family: $font-josefin;
    color: $white;
    z-index: 99;
  }

  &-toggle_section--opened {
    .button {
      &-toggle_section_img {
        transform: rotate(180deg);
      }
    }
  }

  &-toggle_section_img {
    width: 36px;
    height: 36px;
    transition: $transition-menu;
  }

  &-toggle_section_text {
    position: relative;
    padding-left: 38px;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    overflow: hidden;

    // &:hover {
    //   text-decoration: underline;
    // }
  }

  &-toggle_underline {
    position: absolute;
    width: calc(100% - 38px);
    height: 2px;
    background-color: $white;
    left: -100%;
    bottom: 0;
  }

  &-bg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    background-color: $white;
    border: none;
    overflow: hidden;
    border: 1px solid $white !important;
  }

  &-main:not(:disabled) {
    width: 15.5vw;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    border: none !important;
    border: 1px solid $white !important;
    overflow: hidden;
    transition: color $transition-window;
  }

  &:hover {
    .button-main_text {
      color: $black;
    }
  }

  &-main_text {
    position: relative;
    color: $white;
    font-family: $font-josefin;
    font-weight: 300;
    font-size: 24px;
    z-index: 3;
    transition: $transition-menu;
  }

  &-home:not(:disabled) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15.5vw;
  }
}
