.contacts {
  transform: translateX(100%);
  background-color: $black;
  width: 100%;
  height: 100vh;
  z-index: 4;
  transition: transform $transition-window;

  &-title_wrapper {
    position: relative;
    left: 0;
    transform: translateX(-200%);
    z-index: 2;
    transition: transform $transition-window;
    color: $blue;
  }

  &-active {
    .contacts {
      transform: translateX(0);
      &-title_wrapper {
        transform: translateX(20px);
      }
    }
  }

  &-form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40.8vw;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    .input {
      width: 100%;
    }

    .button {
      width: 100%;
    }
  }

  &-form_comment {
    margin-top: -20px !important;
    font-size: 13px;
    font-weight: normal;
    color: $white;
  }
}
