.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100px;
  border-right: 1px solid $white;
  background-color: $black;
  transition: $transition-window;
  overflow: hidden;
  z-index: 100;

  // &--active {
  //   max-width: unset;
  //   transition: $transition-window;
  //   width: 66vw;
  // }

  &:hover {
    cursor: pointer;
  }

  &-menu {
    height: 100%;
    position: absolute;
    left: calc(100px + 5vw);
    top: 0;
  }

  &-menu_title_wrapper {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    width: 66vw;
    transition: $transition-window;
  }
}
