.home {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  width: 60.5vw;
  height: 100%;
  overflow: hidden;
  background-color: $black-transparent;
  border-right: 2px solid $white;
  transition: $transition-window;
  z-index: 3;

  &-active {
    .home {
      transform: translateX(0);

      &-title_part_1 {
        left: -61px;
      }

      &-title_part_2 {
        left: 72px;
      }

      &-title_part_3 {
        right: -41px;
      }
    }

    .button-home:not(:disabled) {
      right: 20px;
    }
  }

  &-title {
    position: relative;
    width: 100%;
    font-family: $font-josefin;
    font-size: 12vw;
    font-weight: 300;
    color: $white;
  }

  &-title_part {
    position: absolute;
    top: 50%;
    width: fit-content;
    transition: $transition-window;
  }

  &-title_part_1 {
    left: -400px;
    transform: translateY(-150%);
  }

  &-title_part_2 {
    left: 20%;
    transform: translateY(-50%);
  }

  &-title_part_3 {
    right: 40%;
    transform: translateY(50%);
  }
}
