.main {
  top: 0;
  left: 100px;
  bottom: 0;
  height: 100vh;
  width: calc(100% - 100px);
  overflow: hidden;

  &-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.section {
  &-title {
    width: 115%;
    padding: 0;
    font-family: $font-josefin;
    font-size: 7.5vw;
    font-weight: 300;
  }
}
