$black: #131618;
$black-transparent: rgba($black, 0.9);
$black-transparent1: rgba($black, 0.7);
$white: #fff;
$white1: #b7c8d1;
$white-transparent: rgba($white, 0.4);
$grey: #16252d;
$grey1: #829199;
$blue: #064566;

$transition-menu: ease-in-out 0.4s;
$transition-window: ease-in-out 0.8s;

$font-inter: 'Inter', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;
